body {
  background: linear-gradient(to bottom right, #4caf50, #2196F3);
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Adjusting the layout to column */
    height: 100vh;
}

.container {
    text-align: center;
}

.header {
    margin-bottom: 10px; /* Adjusting margin */
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 5px;
    margin-bottom: 10px; /* Adjusting margin */
    border: 2px;
    border-radius: 5px;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px; /* Adding curvature to the cells */
}


.result {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 10px); /* Width of the board with padding removed 
    max-height: calc(100% - 10px); /* Height of the board with padding removed 
    overflow: auto;
} */

.modal-content {
    background-color: #fefefe;
    padding: 15px;
    border: 1px solid #888;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px); /* Width of the board with padding removed */
    height: calc(100% - 40px); /* Height of the board with padding removed */
    max-width: 160px; /* Maximum width of the modal box */
    max-height: 110px; /* Maximum height of the modal box */
    overflow: auto;
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.new-game-btn {
    background-color: #f44336;
}
